
body {
  background-image: url("IMG_C:\Users\Kaspars\mācības_dialogsAB\DialogsAB_JS\DialogsAB_JS-1\class_03\style\images\IMG_20190317_091845.jpg");
  background-repeat: no-repeat;
  background-position:center;
  margin-right: 200px;
  background-attachment: fixed;
}
  
  h1 {
    color: rgb(212, 237, 53);
    margin-left: 40px;
  }